In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys
assert 'zipfile' in sys.modules
import seaborn as sns
import math
from sklearn.preprocessing import OneHotEncoder
import scipy.stats as ss
from collections import Counter

In [ ]:
LA = pd.read_csv('Data/Audience_LA.csv',error_bad_lines=False)

In [ ]:
LA

,Unnamed: 0,ZIP,GENDER,AGE,STATE_ABBREVIATION,DMA_NAME_ACXIOM,DEMO_HH_INCOME,ETHNICITY,HOMEOWNERSHIP_STATUS,EDUCATION
0,0,71202,M,67.0,LA,Monroe-El Dorado,"$30,000 to $49,999",African American,Homeowner,High School
1,1,70438,F,33.0,LA,New Orleans,"$100,000 to $149,999",White,Renter,College
2,2,70770,F,59.0,LA,Baton Rouge,"Less than $30,000",White,Homeowner,College
3,3,71108,F,63.0,LA,Shreveport,"$30,000 to $49,999",African American,Homeowner,College
4,4,70802,F,81.0,LA,Baton Rouge,"Less than $30,000",African American,Homeowner,not_reported
...,...,...,...,...,...,...,...,...,...,...
3710313,3710313,70124,M,51.0,LA,New Orleans,"$75,000 to $99,999",Hispanic,Homeowner,College
3710314,3710314,71112,M,33.0,LA,Shreveport,"Less than $30,000",White,Renter,not_reported
3710315,3710315,70764,M,73.0,LA,Baton Rouge,"$50,000 to $74,999",White,Homeowner,High School
3710316,3710316,70534,M,35.0,LA,"Lafayette, LA","Less than $30,000",White,Renter,not_reported
3710317,3710317,71068,M,61.0,LA,Shreveport,"$50,000 to $74,999",White,Homeowner,not_reported

In [ ]:
sample1 = LA[LA['DMA_NAME_ACXIOM']=='New Orleans']

In [ ]:
sample2 = LA[LA['DMA_NAME_ACXIOM']=='Baton Rouge']
#value_counts()

In [ ]:
ss.chisquare(sample1['ETHNICITY'].value_counts(), sample2['ETHNICITY'].value_counts())

Power_divergenceResult(statistic=576975.4992734044, pvalue=0.0)

In [ ]:
sample1['ETHNICITY'].value_counts()

White               919308
African American    282810
Hispanic             86371
Asian                32847
not_reported          2177
Name: ETHNICITY, dtype: int64

In [ ]:
ss.chisquare(sample1['DEMO_HH_INCOME'].value_counts(), sample2['DEMO_HH_INCOME'].value_counts())

Power_divergenceResult(statistic=534805.6115447863, pvalue=0.0)

In [ ]:
#takes two tables, iterates through the columns and generates the chi-square statistic for each column's frequencies. assumes categorical variable. 
def get_chis(table1,table2):
    column_chi = {}
    for column in table1.columns[2:]:
        chi = ss.chisquare(table1[column].value_counts(), table2[column].value_counts())
        column_chi[column] = chi
    return column_chi
test1 = get_chis(sample1,sample2)

In [ ]:
def show_chis(table1,table2):
    test = get_chis(table1,table2)
    for column in sample1.columns[2:]:
        
        print(column + ':' + str(test[column]))

In [ ]:
#baseline 
show_chis(sample1,sample1)

GENDER:Power_divergenceResult(statistic=0.0, pvalue=1.0)
AGE:Power_divergenceResult(statistic=0.0, pvalue=1.0)
STATE_ABBREVIATION:Power_divergenceResult(statistic=0.0, pvalue=nan)
DMA_NAME_ACXIOM:Power_divergenceResult(statistic=0.0, pvalue=nan)
DEMO_HH_INCOME:Power_divergenceResult(statistic=0.0, pvalue=1.0)
ETHNICITY:Power_divergenceResult(statistic=0.0, pvalue=1.0)
HOMEOWNERSHIP_STATUS:Power_divergenceResult(statistic=0.0, pvalue=1.0)
EDUCATION:Power_divergenceResult(statistic=0.0, pvalue=1.0)

In [ ]:
show_chis(sample1,sample2)

GENDER:Power_divergenceResult(statistic=501823.19589639804, pvalue=0.0)
AGE:Power_divergenceResult(statistic=475368.4053017627, pvalue=0.0)
STATE_ABBREVIATION:Power_divergenceResult(statistic=522596.1409028056, pvalue=nan)
DMA_NAME_ACXIOM:Power_divergenceResult(statistic=522596.1409028056, pvalue=nan)
DEMO_HH_INCOME:Power_divergenceResult(statistic=534805.6115447863, pvalue=0.0)
ETHNICITY:Power_divergenceResult(statistic=576975.4992734044, pvalue=0.0)
HOMEOWNERSHIP_STATUS:Power_divergenceResult(statistic=524860.2202992102, pvalue=0.0)
EDUCATION:Power_divergenceResult(statistic=528413.2998086155, pvalue=0.0)