In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt
import sys
assert 'zipfile' in sys.modules

from sklearn.preprocessing import OneHotEncoder
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
link = 'https://drive.google.com/file/d/1xoZGzL7mbE4AgqoXCECgNqEXeYS8ZJ5P/view?usp=sharing'
#fluff, id = link.split('=')
id = '1xoZGzL7mbE4AgqoXCECgNqEXeYS8ZJ5P'
print (id) # Verify that you have everything after '='
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Audience_LA_DMA.csv')

1xoZGzL7mbE4AgqoXCECgNqEXeYS8ZJ5P

NameError: ignored

In [ ]:

df = pd.read_csv('Audience_LA_DMA.csv')

In [ ]:
df.head(50)

In [ ]:
df.isna().sum()

# Dropping Null Values

In [ ]:
# make gender M:0, F:1, NAN=3, and group 3 
#Lubah task
df.pivot_table(index='GENDER', columns='ETHNICITY', values="Unnamed: 0",aggfunc= 'count' )

ETHNICITY  African American   Asian  Hispanic    White
GENDER
F                    263592  662463   2241155  2927319
M                    228621  672326   2013649  2816115

In [ ]:
df2= df.dropna()

In [ ]:
df2.shape

(11825205, 7)

In [ ]:
df.shape

(11945369, 7)

In [ ]:
df2 = df2.rename(columns = {'ETHNICITY': 'RACE', 'Unnamed: 0':'ID'})

In [ ]:
df2

                ID    ZIP  ...      RACE  HOMEOWNERSHIP_STATUS
0                0  90290  ...     White             Homeowner
1                1  90036  ...     White             Homeowner
2                2  92376  ...     White             Homeowner
3                3  91767  ...     Asian             Homeowner
4                4  92345  ...     White                Renter
...            ...    ...  ...       ...                   ...
11945364  11945364  91354  ...  Hispanic                Renter
11945365  11945365  90262  ...  Hispanic             Homeowner
11945366  11945366  91326  ...     Asian             Homeowner
11945367  11945367  92672  ...     White             Homeowner
11945368  11945368  92646  ...     White                Renter

[11825205 rows x 7 columns]

In [ ]:
pd.get_dummies(df2, columns=['DEMO_HH_INCOME'])

                ID  ...  DEMO_HH_INCOME_Less than $30,000
0                0  ...                                 0
1                1  ...                                 0
2                2  ...                                 0
3                3  ...                                 1
4                4  ...                                 0
...            ...  ...                               ...
11945364  11945364  ...                                 0
11945365  11945365  ...                                 1
11945366  11945366  ...                                 0
11945367  11945367  ...                                 0
11945368  11945368  ...                                 0

[11825205 rows x 14 columns]

In [ ]:
#enc = OneHotEncoder(handle_unknown='ignore')
#enc.fit(df2[['ID', 'DEMO_HH_INCOME']])

In [ ]:
#enc.categories_

In [ ]:
#y = enc.transform(df2[['ID', 'DEMO_HH_INCOME']])